{% extends "blog/base.html" %}
{% load i18n %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h5 class="mr-2" class="article-title">{{ question.question_text}}</h5>
        <br>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
        	{% csrf_token %}
        	{% for choice in question.choice_set.all %}
        	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id }}">
        	<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>{% endfor %}
        	<input type="submit" value="Vote">
        </form>
        <small class="text-muted">{{ question.pub_date|date:"F d, Y" }}</small>
        
      </div>
    </div>
  </article>
{% endblock content %}