{% extends "blog/base.html" %}
{% load i18n %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h5 class="mr-2" class="article-title">{{ question.question_text}}</h5>
        {% for tf in question.truefalse_set.all %}
        <li>{{ tf.tf_text }}</li>
        {% endfor %}
        <small class="text-muted">{{ question.pub_date|date:"F d, Y" }}</small>
        
      </div>
    </div>
  </article>
{% endblock content %}