{% extends "blog/base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-section">
        <h2>You Have Been Loged Out</h2>
        <a  href="{% url 'login' %}">Log in again</a>
    </div>
{% endblock content %}